body {
  background-color: black;
  color: beige;
  margin: 0;
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 12px;
  user-select: none;
  background-image: url(../img/nebula.jpg);
  background-size: cover;
}

#screen {
  pointer-events: none;
}

#controls {
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0px);
  transition: all 200ms ease-in-out;
  filter: drop-shadow(0px 0px 9px rgba(11, 178, 255, 0.75));
}

#controls.hidden {
  transform: translateX(-100%);
}

#controls .label {
  display: flex;
  flex-direction: column;
}

#open_btn {
  visibility: hidden;
  position: absolute;
  right: 0;
  opacity: 0;
  transform: translateX(-200%);
  transition: transform 200ms ease-in-out;
}

#controls.hidden #open_btn {
  visibility: visible;
  transform: translateX(100%);
  opacity: 1;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
